* {
  -webkit-tap-highlight-color: rgba(0,0,0,0.00);
  margin: 0px;
  padding: 0px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.hidden {
  display: none;
}
body {
  background: #f8f8f8;
  color: #000;
  font-family: 'Goudy Bookletter 1911', serif;
}
body.selected {
  background: #dadada;
}
#content {
  padding: 150px 150px;
  font-size: 25px;
  font-family: 'Goudy Bookletter 1911', serif;
  line-height: 150%;
  text-align: justify;
}
#content .phrase {
  padding-left: 5px;
  padding-right: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#content .phrase.selected {
  background: #f8f8f8;
}
#content .phrase .hilight {
  background: #f8f8c0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#bounds {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0px;
  height: 0px;
}
.image {
  z-index: 15;
  background: #000;
  width: 130px;
  height: 100px;
  position: absolute;
  -webkit-perspective: 0;
  -moz-box-shadow: 0px 1px 10px rgba(0,0,0,0.50);
  -webkit-box-shadow: 0px 1px 10px rgba(0,0,0,0.50);
  box-shadow: 0px 1px 10px rgba(0,0,0,0.50);
}
.image.open {
  -webkit-transform-origin: 0% 0%;
  z-index: 20;
}
div.preview {
  position: absolute;
  z-index: 25;
  -webkit-transform-origin: 0% 0%;
}
div.preview .content {
  position: relative;
  width: 100%;
  height: 100%;
}
div.preview .content img {
  z-index: 30;
}
div.preview .content a.button {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  z-index: 35;
  display: block;
  width: 36px;
  height: 34px;
  background: #f00;
}
div.preview .content a.button.like {
  background: url("/button_like.png");
  right: 10px;
}
div.preview .content a.button.dislike {
  left: 10px;
  background: url("/button_dislike.png");
}
div.preview .content .images {
  width: 100%;
  height: 100%;
}
canvas {
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}
#navigation {
  background: #000;
  height: 60px;
}
#navigation .fl {
  margin-left: 10px;
}
#navigation .fr {
  margin-right: 10px;
}
#navigation .button {
  cursor: pointer;
  display: block;
  width: 45px;
  height: 33px;
  background: #f00;
  float: left;
  border: 1px solid #6b6b6b;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 12px;
}
#navigation .button.smaller {
  background: url("/button_smaller.png");
}
#navigation .button.larger {
  background: url("/button_larger.png");
}
#navigation .button.plus {
  background: url("/button_add.png");
}
#navigation .button.plus input {
  background: #f00;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  opacity: 0;
  cursor: pointer;
}
#navigation .button.game {
  background: url("/button_game.png");
}
#game {
  text-align: center;
  margin-top: 50px;
}
#game h1 {
  margin-bottom: 10px;
}
#game .options {
  width: 400px;
  margin: auto;
  margin-top: 50px;
}
#game .result h1 {
  padding-top: 240px;
  font-size: 40px;
}
#game .result.correct {
  background: url("/shape_correct.png") no-repeat center 60px;
}
#game .result.wrong {
  background: url("/shape_wrong.png") no-repeat center 60px;
}
#loading {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 31px;
  height: 35px;
  margin-left: -15px;
  margin-top: -17px;
  background: url("/loading.png");
  -webkit-animation-name: spinnerRotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  display: none;
}
#docs {
  padding-top: 150px;
  width: 200px;
  margin: auto;
  text-align: center;
}
.button.xl {
  display: block;
  color: #959595;
  font-size: 20px;
  border: 1px solid #bebebe;
  width: 150px;
  margin: auto;
  margin-top: 50px;
  padding: 10px 0px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.button.option {
  display: block;
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
  float: left;
  font-size: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}
.button.option:hover {
  border-bottom: 2px solid #000;
}
@-moz-keyframes spinnerRotate {
  0% {
    -webkit-transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-webkit-keyframes spinnerRotate {
  0% {
    -webkit-transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-o-keyframes spinnerRotate {
  0% {
    -webkit-transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-ms-keyframes spinnerRotate {
  0% {
    -webkit-transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes spinnerRotate {
  0% {
    -webkit-transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
  }
}
