* {
  -webkit-tap-highlight-color: rgba(0,0,0,0.00);
}
body {
  background: #f8f8f8;
  color: #000;
}
body.selected {
  background: #dadada;
}
#content {
  margin: 150px 150px;
  font-size: 25px;
  font-family: 'Goudy Bookletter 1911', serif;
  line-height: 150%;
  text-align: justify;
}
#content .phrase {
  padding-left: 5px;
  padding-right: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#content .phrase.selected {
  background: #f8f8f8;
}
#content .phrase .hilight {
  background: #f8f8c0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#bounds {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0px;
  height: 0px;
}
.image {
  z-index: 15;
  background: #000;
  width: 130px;
  height: 100px;
  position: absolute;
  -moz-box-shadow: 0px 1px 10px rgba(0,0,0,0.50);
  -webkit-box-shadow: 0px 1px 10px rgba(0,0,0,0.50);
  box-shadow: 0px 1px 10px rgba(0,0,0,0.50);
  -webkit-transform-origin: 0% 0%;
}
.image.open {
  z-index: 20;
}
.preview {
  position: absolute;
  z-index: 25;
  pointer-events: none;
  -webkit-transform-origin: 0% 0%;
}
canvas {
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}
